--
-- PostgreSQL database dump
--

\restrict l9gYTulIwUlfR3Z7LaQ8qBfUETyfZK62fHoVuquHbgMAbDsRUZq8A8ggLHDo2ht

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: auto_create_snapshot(); Type: FUNCTION; Schema: public; Owner: chronos_user
--

CREATE FUNCTION public.auto_create_snapshot() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    event_count INTEGER;

    snapshot_interval INTEGER := 50;  -- Create snapshot every 50 events

    last_snapshot_count INTEGER;

BEGIN

    -- Count events in this conversation's current branch

    SELECT COUNT(*) INTO event_count

    FROM events

    WHERE conversation_id = NEW.conversation_id

    AND NEW.event_id = ANY(

        SELECT unnest(path) FROM events WHERE event_id = NEW.event_id

    );

    

    -- Check if we should create a snapshot (every 50 events)

    IF event_count % snapshot_interval = 0 THEN

        -- Check if snapshot already exists for this event

        IF NOT EXISTS (SELECT 1 FROM snapshots WHERE event_id = NEW.event_id) THEN

            -- Log that snapshot should be created

            -- Note: Actual snapshot creation is deferred to Python for state reconstruction

            RAISE NOTICE 'Snapshot needed for event % at count %', NEW.event_id, event_count;

            

            -- Insert a placeholder snapshot record that will be populated by Python

            INSERT INTO snapshots (snapshot_id, event_id, state_datum, event_count)

            VALUES (gen_random_uuid(), NEW.event_id, '[]'::jsonb, event_count)

            ON CONFLICT (event_id) DO NOTHING;

        END IF;

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.auto_create_snapshot() OWNER TO chronos_user;

--
-- Name: FUNCTION auto_create_snapshot(); Type: COMMENT; Schema: public; Owner: chronos_user
--

COMMENT ON FUNCTION public.auto_create_snapshot() IS 'Automatically creates snapshot placeholders every 50 events';


--
-- Name: calculate_path(); Type: FUNCTION; Schema: public; Owner: chronos_user
--

CREATE FUNCTION public.calculate_path() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    parent_path UUID[];

BEGIN

    IF NEW.parent_event_id IS NULL THEN

        NEW.path := ARRAY[NEW.event_id];

    ELSE

        SELECT path INTO parent_path FROM events WHERE event_id = NEW.parent_event_id;

        NEW.path := parent_path || NEW.event_id;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.calculate_path() OWNER TO chronos_user;

--
-- Name: ensure_snapshots(uuid, integer); Type: FUNCTION; Schema: public; Owner: chronos_user
--

CREATE FUNCTION public.ensure_snapshots(p_conversation_id uuid, p_interval integer DEFAULT 50) RETURNS TABLE(event_id uuid, event_count integer, snapshot_created boolean)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    WITH conversation_events AS (

        SELECT 

            e.event_id,

            e.sequence_number,

            ROW_NUMBER() OVER (ORDER BY e.sequence_number) as rn

        FROM events e

        WHERE e.conversation_id = p_conversation_id

        ORDER BY e.sequence_number

    ),

    snapshot_points AS (

        SELECT 

            ce.event_id,

            ce.rn as event_count

        FROM conversation_events ce

        WHERE ce.rn % p_interval = 0

    )

    SELECT 

        sp.event_id,

        sp.event_count::INTEGER,

        NOT EXISTS(SELECT 1 FROM snapshots s WHERE s.event_id = sp.event_id) as snapshot_created

    FROM snapshot_points sp;

END;

$$;


ALTER FUNCTION public.ensure_snapshots(p_conversation_id uuid, p_interval integer) OWNER TO chronos_user;

--
-- Name: FUNCTION ensure_snapshots(p_conversation_id uuid, p_interval integer); Type: COMMENT; Schema: public; Owner: chronos_user
--

COMMENT ON FUNCTION public.ensure_snapshots(p_conversation_id uuid, p_interval integer) IS 'Returns snapshot points that should exist for a conversation';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: events; Type: TABLE; Schema: public; Owner: chronos_user
--

CREATE TABLE public.events (
    event_id uuid DEFAULT gen_random_uuid() NOT NULL,
    conversation_id uuid NOT NULL,
    parent_event_id uuid,
    sequence_number bigint NOT NULL,
    event_type character varying(50) NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    path uuid[] DEFAULT ARRAY[]::uuid[],
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT events_sequence_number_check CHECK ((sequence_number >= 0))
);


ALTER TABLE public.events OWNER TO chronos_user;

--
-- Name: snapshots; Type: TABLE; Schema: public; Owner: chronos_user
--

CREATE TABLE public.snapshots (
    snapshot_id uuid DEFAULT gen_random_uuid() NOT NULL,
    event_id uuid NOT NULL,
    state_datum jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    event_count integer DEFAULT 0
);


ALTER TABLE public.snapshots OWNER TO chronos_user;

--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: chronos_user
--



--
-- Data for Name: snapshots; Type: TABLE DATA; Schema: public; Owner: chronos_user
--

COPY public.snapshots (snapshot_id, event_id, state_datum, created_at, event_count) FROM stdin;
e7f9b507-3385-4a67-98fb-0367b157ec90	8f5cc276-e5a6-49b7-a50a-46e36a899607	[]	2026-01-23 18:46:15.369206+00	50
7939de30-6fc2-47c3-a1d9-7e91bc67534f	10a18060-0513-41fc-8b2c-d770f5ee2803	[]	2026-01-23 18:46:15.369206+00	50
\.


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: chronos_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: snapshots snapshots_event_id_key; Type: CONSTRAINT; Schema: public; Owner: chronos_user
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_event_id_key UNIQUE (event_id);


--
-- Name: snapshots snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: chronos_user
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_pkey PRIMARY KEY (snapshot_id);


--
-- Name: idx_conversation_events; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_conversation_events ON public.events USING btree (conversation_id, sequence_number);


--
-- Name: idx_events_conversation_id; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_conversation_id ON public.events USING btree (conversation_id);


--
-- Name: idx_events_created_at; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_created_at ON public.events USING btree (created_at);


--
-- Name: idx_events_created_brin; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_created_brin ON public.events USING brin (created_at);


--
-- Name: idx_events_parent_event_id; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_parent_event_id ON public.events USING btree (parent_event_id);


--
-- Name: idx_events_parent_sequence; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_parent_sequence ON public.events USING btree (parent_event_id, sequence_number);


--
-- Name: idx_events_path_gin; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_path_gin ON public.events USING gin (path);


--
-- Name: idx_events_payload_operation; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_payload_operation ON public.events USING btree (((payload ->> 'gen_ai.operation.name'::text)));


--
-- Name: idx_events_payload_tool_name; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_events_payload_tool_name ON public.events USING btree (((payload ->> 'gen_ai.tool.name'::text)));


--
-- Name: idx_parent_events; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_parent_events ON public.events USING btree (parent_event_id);


--
-- Name: idx_snapshots_created_at; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_snapshots_created_at ON public.snapshots USING btree (created_at DESC);


--
-- Name: idx_snapshots_event_count; Type: INDEX; Schema: public; Owner: chronos_user
--

CREATE INDEX idx_snapshots_event_count ON public.snapshots USING btree (event_count DESC);


--
-- Name: events set_path_before_insert; Type: TRIGGER; Schema: public; Owner: chronos_user
--

CREATE TRIGGER set_path_before_insert BEFORE INSERT ON public.events FOR EACH ROW EXECUTE FUNCTION public.calculate_path();


--
-- Name: events trigger_auto_snapshot; Type: TRIGGER; Schema: public; Owner: chronos_user
--

CREATE TRIGGER trigger_auto_snapshot AFTER INSERT ON public.events FOR EACH ROW EXECUTE FUNCTION public.auto_create_snapshot();


--
-- Name: events events_parent_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chronos_user
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_parent_event_id_fkey FOREIGN KEY (parent_event_id) REFERENCES public.events(event_id) ON DELETE CASCADE;


--
-- Name: snapshots snapshots_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: chronos_user
--

ALTER TABLE ONLY public.snapshots
    ADD CONSTRAINT snapshots_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(event_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict l9gYTulIwUlfR3Z7LaQ8qBfUETyfZK62fHoVuquHbgMAbDsRUZq8A8ggLHDo2ht

