# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables
.env
.env.local
*.env.local

# Database
postgres_data/

# Node / Frontend
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/